* {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: black;
  max-width: 1465px;
  margin: 0 auto;
  height: 100vh;
}

.container img {
  height: 100px;
  margin-top: 15px;
}

.carousel {
  display: flex;
  overflow-x: scroll;
}

.films {
  flex-shrink: 0;
}

.title {
  margin-top: 30px;
}
